@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.nav-link:hover,
.active-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #464646;
  text-underline-offset: 27px;
}

footer {
  background-color: #111;
}

footer h5 {
  text-transform: uppercase;
  font-size: 14px;
}

.footer-links a {
  color: #7e7e7e;
  font-size: 12px;
  padding-bottom: 2px;
}

.footer-links a:hover {
  color: #fff;
}

.footer-icons a {
  background-color: #7e7e7e;
}

.grid-columns {
  @apply grid lg:gap-x-8 lg:gap-y-4 lg:grid-cols-3 md:gap-6 md:grid-cols-1;
}

.add-to button {
  @apply border-2 border-gray-200 bg-white hover:bg-gray-900 text-black hover:text-white w-full py-3;
}

.add-to button:disabled {
  color: #9ca3af;
  background-color: #f7f7f7;
  pointer-events: none !important;
}

/* LOADER CSS */
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* LOADER CSS */

.pag-item {
  @apply text-gray-500 bg-transparent border border-gray-500 hover:bg-gray-500 hover:text-white active:bg-gray-600 font-bold uppercase text-xs px-4 py-3 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150;
}

.pag-item:disabled {
  background-color: #ccc;
  pointer-events: none !important;
}

.active-item {
  background-color: #4b5563;
  color: #fff;
}
